.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.main-bg {
	height: 400px;
	margin-bottom: 20px;
	background: url("https://images.pexels.com/photos/9320207/pexels-photo-9320207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat (center / cover);
}

img {
	width: 100%;
}

h4 {
	margin: 10px 0;
	font-size: 20px;
}

.banner {
	padding: 1em;
	background-color: beige;
	color: #000;
	text-align: center;
}
.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30vw;
	height: 30vw;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	color: #fff;
	font-size: 2em;
	font-weight: 600;
}
.start {
	opacity: 0;
}
.end {
	opacity: 1;
	transition: opacity 0.5s;
}

.watched-box {
	position: fixed;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	width: 200px;
	background-color: #fff;
	border: 1px solid #000;
	z-index: 999;
	h3 {
		background-color: #000;
		color: #fff;
		font-size: 1em;
	}
	ul {
		margin: 0;
		padding: 10px;
		li {
			list-style: none;
		}
	}
}
